---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout title="Dashboard">
  <section>
    <h1>Welcome J-User😉</h1><br>
    <p class="size-20">Build fast dashboards, faster (and accessible).</p>
  </section>
  <section class="margin-32">
    <div class="space-content">
      <div class="contents">
        <h2>Detail</h2>
        <p id="current-time" class="size-12"></p>
      </div>
      <div class="grid small-grid-1 medium-grid-2 large-grid-3 equal-height">
        <div class="dashboard-widget radius-large space-24 elevation-400 space-content type-success">
          <p class="size-48" id="remaining-requests">Loading...</p>
          <p class="size-20">
            <em>Remaining Requests</em>
          </p>
        </div>
        <div class="dashboard-widget radius-large space-24 elevation-400 space-content type-success">
          <p class="size-48" id="max-requests">Loading...</p>
          <p class="size-20">
            <em>Max Requests</em>
          </p>
        </div>
        <div class="dashboard-widget radius-large space-24 elevation-400 space-content type-info">
          <p class="size-48" id="api-key">Loading...</p>
          <p class="size-20">
            <em>API Key</em>
          </p>
        </div>
        <div class="dashboard-widget radius-large space-24 elevation-400 space-content type-warning">
          <p class="size-48" id="expiry-date">Loading...</p>
          <p class="size-20">
            <em>Expiry Date</em>
          </p>
        </div>
        <div class="dashboard-widget radius-large space-24 elevation-400 space-content type-error">
          <p class="size-48">-120</p>
          <p class="size-20">
            <em>Images Deleted</em>
          </p>
        </div>
        <div class="radius-large space-96" style="border: 4px dashed grey;"></div>
        <div class="radius-large space-96" style="border: 4px dashed grey;"></div>
        <div class="radius-large space-96" style="border: 4px dashed grey;"></div>
        <div class="radius-large space-96" style="border: 4px dashed grey;"></div>
      </div>
    </div>
  </section>
</DefaultLayout>

<script>
  // Set the current time
  const date = new Date();
  document.querySelector('#current-time').innerHTML = `<em>${date.toDateString()}</em>`;

  // Fetch and display data from localStorage
  const remainingRequestsElement = document.querySelector('#remaining-requests');
  const maxRequestsElement = document.querySelector('#max-requests');
  const apiKeyElement = document.querySelector('#api-key');
  const expiryDateElement = document.querySelector('#expiry-date');

  const fetchData = () => {
    const remainingRequests = localStorage.getItem('remainingRequests') || 'N/A';
    const maxRequests = localStorage.getItem('maxRequests') || 'N/A';
    const apiKey = localStorage.getItem('apikey') || 'N/A';
    const expiryDate = localStorage.getItem('expiryDate') || 'N/A';

    remainingRequestsElement.textContent = remainingRequests;
    maxRequestsElement.textContent = maxRequests;
    apiKeyElement.textContent = apiKey;
    expiryDateElement.textContent = expiryDate;
  };

  // Call the function to fetch data
  fetchData();
</script>

<style>
  .dashboard-widget {
    background-color: var(--neutral-100);
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;

    &.type-success {
      > p:first-child {
        color: var(--success-700);
      }
    }

    &.type-error {
      > p:first-child {
        color: var(--error-700);
      }
    }

    &.type-info {
      > p:first-child {
        color: var(--info-700);
      }
    }

    &.type-warning {
      > p:first-child {
        color: var(--warning-700);
      }
    }

    &:hover {
      transform: translateY(-0.5rem);
    }
  }

  :global(.darkmode .dashboard-widget) {
    background-color: var(--neutral-900);

    &.type-success > p:first-child {
      color: var(--success-400);
    }

    &.type-error > p:first-child {
      color: var(--error-400);
    }

    &.type-info > p:first-child {
      color: var(--info-400);
    }

    &.type-warning > p:first-child {
      color: var(--warning-400);
    }
  }
</style>
