---
const {
  number = 0,
  title = 'Remaining Requests',
  type = 'success',
  showRemainingRequests = true // Menentukan apakah menampilkan Remaining Requests atau Max Requests
} = Astro.props
---

<div class="dashboard-widget radius-large space-24 elevation-400 space-content type-${type}">
  <p class="size-48">
    <strong>{number}</strong>
  </p>
  <p class="size-20">
    <em>{title}</em>
  </p>
</div>

<script>
  // Menentukan apakah mengambil remainingRequests atau maxRequests berdasarkan prop
  const isRemainingRequests = {showRemainingRequests};
  
  let requestCount = 0;

  if (isRemainingRequests) {
    // Mengambil nilai remainingRequests dari localStorage
    requestCount = localStorage.getItem('remainingRequests') || 0;
  } else {
    // Mengambil nilai maxRequests dari localStorage
    requestCount = localStorage.getItem('maxRequests') || 0;
  }

  // Mengatur nilai widget dengan jumlah request yang sesuai
  const widgetNumber = document.querySelector('.dashboard-widget .size-48 strong');
  widgetNumber.textContent = requestCount;
</script>

<style lang="scss">
  .dashboard-widget {
    &.type-success {
      > p:first-child {
        color: var(--success-700);
      }
    }

    &.type-error {
      > p:first-child {
        color: var(--error-700);
      }
    }

    background-color: var(--neutral-100);
  }

  :global(.darkmode .dashboard-widget) {
    background-color: var(--neutral-900);

    &.type-success {
      > p:first-child {
        color: var(--success-400);
      }
    }

    &.type-error {
      > p:first-child {
        color: var(--error-400);
      }
    }
  }
</style>
